@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');

body {
    font-family: 'Sulphur Point', serif;
    background: linear-gradient(135deg,#edf5c4, #efc2a4, #6268b6, #313d6c, #191943 100%);
    background-size: 200% 200%;
    animation: gradientAnimation 14s ease infinite;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    
}

.weather-container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    padding: 30px;
    text-align: center;
    max-width: 500px;
    width: 100%;
}

.city-search {
    display: flex;
    margin-bottom: 20px;
}

.city-search input {
    flex-grow: 1;
    padding: 10px;
    border: 2px solid #e0e0e0;
    border-radius: 8px 0 0 8px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.city-search input:focus {
    outline: none;
    border-color: #4a90e2;
}

.city-search button {
    padding: 10px 15px;
    font-family: 'Sulphur point', serif;
    background-color: #85c1bf;
    color: black;

    border: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.city-search button:hover {
    background-color: #0f0d31;
    color: white;
}

#city {
    font-family: 'Arial';
    font-size: 35px;
    font-weight: 700;
    color: #151c37;
    margin-bottom: 12px;
}

#temperature {
    font-family: 'Arial', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #2c3e50;
}

#gps {
    margin-top: 12px;
    margin-bottom: 12px;
    color: #3f3d5b;
}

#details {
    margin-top: 20px;
    color: #50787a;
    font-weight: bolder;
}

.loading {
    opacity: 0.5;
    pointer-events: none;
}

/* en cours de dev*/
#themeToggle {
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: 'Sulphur Point', serif;
    background-color: #85c1bf;
    color: black;
    border: none;
    border-radius: 10px;
    width: 140px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.4s ease-in-out;
}

#themeToggle:hover {
    background-color: #0f0d31;
    color: #f5f7fa;
    transform: scale(1.1);
}

#themeToggle:focus {
    outline: none;
    box-shadow: 0 0 5px #4a90e2;
}